<div class="container mt-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="auth">Authorization</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="operations">Operations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="parties">Parties</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="reports">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="tables">Tables</a>
    </li>

</ul>

  <router-outlet></router-outlet>

</div>
