<div class="container mt-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="auth">Authorization</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="operations">Operations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="parties">Parties</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="reports">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="tables">Tables</a>
    </li>
    <li class="nav-item">
      <button (click)="logout()">Logout</button>
    </li>
</ul>


  <router-outlet></router-outlet>

</div>
<ng-container>
  <div class="container">
    <h2>I am inside ng-container! I will display on html.</h2>
  </div>
  <div class="container">
    <h2> 2nd Div element</h2>
  </div>
</ng-container>

<ng-template>I am inside ng-template. You will not see me</ng-template>

<ng-template *ngIf="showContents">
	You still won’t see me (even though I’m using a structural directive, there’s nothing that's telling Angular to use me)
</ng-template>

<ng-template *ngFor="let item of items">
	No dice (same reason as *ngIf above)
</ng-template>

<div *ngIf="!showTemplate else template">
	Hello
</div>

<ng-template #template>
	<h2 class="container">Finally I am seen! (When showTemplate is true) </h2>
</ng-template>

<table class="container">
  <tbody>
    <ng-container *ngFor="let item of items">
      <tr *ngIf="item">
        <td>{{item}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>

<ng-container *ngTemplateOutlet="template1">
</ng-container>

<ng-template #template1 let-food="donut">
	{{food}}
</ng-template>
