<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Dashboard</h1> 

  <button (click)="logout()">Logout</button>
  
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="admin">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="importers">Importers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="exporters">Exporters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="forwarders">Forwarders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="truckers">Truckers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cfs-terminal-oper">CFS Terminal Op</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="managers">Managers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="shippers">Shippers</a>
    </li>
</ul>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
