<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Operations</h1>

  <button (click)="logout()">Logout</button>
  
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="air-ams">Air AMS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="air-export">Air Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="air-import">Air Import</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cmsq">CMSQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="customs-brokerage">Customs Brokerage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="express-operators">Express Operator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="air-export">Air Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="isf">ISF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="ocean-export">Ocean Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="ocean-import">Ocean Import</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="sea-ams">Sea AMS</a>
    </li>

</ul>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
